@using Magistri.DTO
@model IEnumerable<StudentDto>
<h1>List of all students</h1>

@foreach (var item in Model)
{
    <div class="border border-1 border-dark p-2 ">
        <h5>@item.FirstName @item.LastName</h5>

        Id: @item.Id
        <p>Date of Birth: @item.DateOfBirth.ToShortDateString()</p>
        <div>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id=@item.Id>Edit</a>
        <form method="post">
            <input class="btn btn-danger" asp-action="Delete" asp-route-id=@item.Id type="submit" value="Delete" />
        </form>
        </div>
    </div>

}
<hr />
<div>
    <a class="btn btn-success" asp-action="Create">Create</a>
</div>

